@import '../../styles/consts';

.course-card{

  img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: $shadow;
  }

  .title{
    margin-top: 15px;
  }

  .author{
    color: $gray-light;
    padding-bottom: 15px;
  }
}
