$gray-lighter: #EFF0F1;
$gray-light: #A8ABB3;
$gray-fade: #D1BAB1;

$dark: #272E3F;

$green: #00dc00;

$blue: #244AC5;
$blue-light: #3F9DC9;
$blue-lighter: #B2C7D7;

$shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
